footer {
    bottom: 0px;
    width: 100%;
    background-color: #328cd5;
}

.footer-content {
    display: flex;
}

.footer-content .column{
    flex-basis: 50%;
    padding: 10px 20px;
}

.column h3 {
    font-family: 'Work', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
}

.column .content{
    margin-top: 15px;
}

footer .copyright{
    font-size: 1rem;
}