:root {
    --color-celeste: #328cd5;
    --color-dorado: #795e01;
    --color-violeta: #89549a;
    --color-rosa: #da1f56;
    --color-verde: #6cb42c;
    --color-amarillo: #f5c700 ;
    --color-naranja: #ff6914;
    --color-blanco: #fff;
    --color-negro: #000;
  
    --fuentePrincipal: "Rubik", sans-serif;
    --fuenteSecundaria:'Work Sans', sans-serif; ;
  }
  
  * {
    padding: 0;
    margin: 0;
    font-family: var(--fuentePrincipal);
  }
  
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {

    background-image: url("/img/fondo.png");
}
  
  html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
   body {
    font-size: 16px; /* 1rem =10px  */
  }
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
  }
  
  h1,
  h2,
  h3,
  h4 {
    margin: 0;
  }
  
  
  /* HEADER */
  .container {
      max-width: 170rem;
      width: 90%;
      margin: 0 auto;
      overflow: hidden;
    }
    
  
    .header {
      background-color: var(--color-celeste);
      width: 100%;
      height: auto;
    }
    
    /* Nav */
    .nav__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;
    }
    
    .nav__logo img {
      max-height: 8rem;
      margin: 0 4rem;
    }
    
    /* SEARCH */
    
    .formulario-full {
      display: none;
    }
    
    .formulario--search {
      height: 4rem;
      width: 41rem;
    }
    
    .formulario-button {
      background-color: var(--color-negro);
      color: #fff;
      border: none;
      padding: 1.2rem;
      cursor: pointer;
    }
    
    /* SEARCH MOBILE */
    .formMobile a i {
      color:var(--color-negro);
      font-size: 2rem;
    }
    
    /*  INICIO Y SHOP */
    .shop a {
      font-size: 1.5rem;
      color: var(--color-negro);
      text-transform: uppercase;
      margin-left: 0;
    }
    
    .shop span {
      display: none;
    }
    
    /* MENU HAMBURGUESA */
    
    .ham {
      display: block; /* cambiar */
      cursor: pointer;
      border: none;
      margin-left: 1rem;
      padding: 0;
      background-color: transparent;
      font-size: 3rem;
      color: var(--color-negro);
    }
    
    /* NAVEGACION */
    .enlaces-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 0;
      height: 92vh;
      margin: 0;
      width: 100%;
      display: none; /*  activar con javascript */
      opacity: 0;
    }
    
    .enlaces-menu li {
      list-style-type: none;
      transition: all 0.3s;
      text-align: center;
      padding: 2rem;
      margin: 0;
    }
    
    .enlaces-menu li a {
      font-size: 1.3rem;
      color: var(--color-negro);
      font-weight: bold;
      text-transform: uppercase;
    }
    
    .enlaces-menu li a:hover {
      background-color: rgb(0, 0, 0);
      color: var(--color-blanco);
    }
    
    @keyframes mostraMenu {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    
    .enlaces-menu.activado {
      display: flex;
      animation: mostraMenu 350ms ease-in-out both;
    }
    
    /* MENU MEDIAQUERYS HEADER*/
    @media (min-width: 425px) {
      .shop a {
        margin-left: 3rem;
      }
    }
    
    @media (min-width: 769px) {
      .header {
        padding: 3rem;
      }
    
      .nav__logo img {
        margin: 0 4rem;
        max-height: 12rem;
      }
    
      .nav__container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0;
      }
    
      .shop a {
        margin-left: 0;
      }
    
      .shop span {
        display: inline;
        color: var(--color-negro);
        font-size: 2rem;
      }
    
      .formulario-full {
        display: block;
      }
    
      .formulario--search {
        width: 30rem;
      }
    
      .formMobile {
        display: none;
      }
    
      .ham {
        display: none;
      }
    
      .enlaces-menu {
        margin-top: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        opacity: 1;
        height: 2rem;
      }
    
      .enlaces-menu li a {
        font-size: 1rem;
      }
    }
    
    @media (min-width: 1024px) {
      .nav__logo img {
        position: absolute;
        top: 0;
        left: 0;
        margin: 1rem 10rem;
        max-height: 12rem;
      }
    
      .formulario-full {
        margin-left: 20rem;
      }
    
      .formulario--search {
        width: 41rem;
      }
    
      .enlaces-menu li a {
        font-size: 1.3rem;
        padding: 0.5rem;
      }
    }
    
  
  
  
  
  /* FOOTER */
  footer {
    height: 170px;
    bottom: 0px;
    width: 100%;
    background-color: var(--color-celeste);
    box-sizing: border-box;
    overflow: hidden;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
  .footer-wrap-left, .footer-wrap-right {
    width: 170px;
    margin: 0;
    padding: 0;
    height: 170px;
  }
  .footer-wrap-left .footer-img, .footer-wrap-right .footer-img {
    width: 100%;
  }
  
  .footer-wrap-middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-column-title {
    font-family: "Work", sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
  }
  
  .footer-column-wrap {
    list-style: none;
    margin-top: 1.5rem;
    line-height: 2.8rem;
  }
  
  .footer-column-wrap li a{
    color: var(--color-negro);
  }
  .footer-column-wrap li a:hover{
    color: var(--color-blanco);
  }
  
  .footer-column-social .footer-column-wrap li{
    display: inline;
    padding-left: 1rem;
  }
  .footer-social-icon{
    color: var(--color-negro);
    font-size: 4rem;
  }
  .footer-social-icon:hover{
    color: var(--color-blanco);
  }
  .footer-middle-grow1 {
    flex-grow: 1;
    width: 20%;
    padding: 1rem 2rem;
  }
  
  .footer-copyright {
    flex-grow: 4;
  }
  .footer-copyright p{
    text-align: center;
    font-size: 1rem;
   }
   @media (max-width: 768px) {

    .footer-wrap-left, .footer-wrap-right  {
      display: none;
    }
    
    .footer-column-information, .footer-column-account{
      display: none;
    }
    .footer-column-contact {
      font-size: 1.1rem;
    }
    .footer-column-social i{
      font-size: 2rem;
    }
    .footer-column-social .footer-column-title, .footer-column-contact .footer-column-title {
      font-size: 1.3rem;
    }
    .footer-middle-grow1 {
      flex-grow: 1;
      width: 40%;
      
    }
    .footer-copyright {
      flex-grow: 3;
    }
    
  }
  
  @media (max-width: 1400px) {
    .footer-wrap-left, .footer-wrap-right  {
      display: none;
    }
  }