
.form-register {
  width: 20em;
  background: #ebebeb;
  padding: 30px;
  margin: auto;
 margin-top: 100px;
 margin-bottom: 30px;
  border-radius: 4px;
 color:#328cd5;
  text-align: center;
  box-shadow: 7px 13px 37px #000;

}
.form-register h3 {
  color:#328cd5;
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.controls {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
 
  font-size: 18px;
  color:#328cd5;
  border: none;
}

.form-register a {
  color: #424242 ;
  height: 60px;
  text-align: center;
  font-size: 16px;

  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}
.form-register .botons {
  width: 100%;
  background: #f5c700;
  border: none;
  padding: 12px;
  color: black;
  margin: 16px 0;
  font-size: 16px;
}

.mi-cuenta .botons {
    width: 100%;
    background: #f5c700;
    border: none;
    padding: 12px;
    color: black;
    margin: 16px 0;
    font-size: 16px;
  }
  
  .form-register h6 {
    color: #424242;
    font-size: 1em;
    margin-bottom: 20px;
    font-weight: 200;
  } 

  