<%- include('../partials/head.ejs')%>

<body class="login">
  <!--Botón ir hacia arriba-->
  <button type="button" class="btn btn-warning btn-floating btn-lg" id="btn-back-to-top"><i class="fas fa-arrow-up"></i></button>
  <%- include('../partials/header.ejs')%>
  
  <main>
    <div class="main-container">
    <div class="main-form-login">
      <form action="login">
        <h3>Mi cuenta</h3>
        <h6>Si ya estas registrado, ingresa aquí.</h6>
        <label for="email">Email</label>
        <input class="controls" type="email" name="correo" id="correo" placeholder="">
        <label for="password">Contraseña</label>
        <input class="controls" type="password" name="contraseña" id="contraseña" placeholder="">
        <p><a href="#">¿Olvidaste tu contraseña?</a></p>
        <input class="main-form-register-button" type="submit" value="Ingresar">
      </form>
    </div>
    <div class="main-form-register">
      <form action="register">
        <h3>Registrate ahora</h3>
        <h6>Completa tu email y contraseña para registrarte.</h6>
        <label for="">Nombre</label>
        <input class="controls" type="text" name="nombre" id="nombre" placeholder="">
        <label for="">Apellido</label>
        <input class="controls" type="text" name="apellido" id="apellido" placeholder="">
        <label for="">Email</label>
        <input class="controls" type="email" name="correo" id="correo" placeholder="">
        <label for="">Contraseña</label>
        <input class="controls" type="password" name="contraseña" id="contraseña" placeholder="">
        <label for="">Repita contraseña</label>
        <input class="controls" type="password" id="contraseña" placeholder="">
        <p><input class="checkbox" type="checkbox"><a href="#">    Acepto los Terminos y Condiciones.</a></p>
        <input class="main-form-register-button" type="submit" value="Registrarse" />
      </form>
    </div>
    </div>
  </main>

<!-- Footer -->
<%- include('../partials/footer.ejs')%>
<!-- Footer -->

<!-- MAIN SCRIPTS-->
<%- include('../partials/scripts.ejs')%>
</body>

</html>