<header>
    <div class="header-container">
        <input type="checkbox" name="" id="check">
        <div class="logo-container">
            <a href="/"><img class="img-fluid" src="/img/logo.png" alt="logo-img"></a>
        </div>
        <div class="nav-btn">
            <div class="search-input">
                <form action="/search" method="GET" class="search-form">
                    <div class="input-search-header"><input type="text" class="form-control" name="keywords" placeholder="Buscar productos..."><button class="btn btn-primary">Buscar</button></div>
                </form>
            </div>

            <div class="login-cart">
                <% if (locals.usuario) { %>
                   <img src="/img/avatars/<%= locals.usuario.avatar  %> " width="40" style="border-radius: 100%;" >         
                <a href="/users/profile"><%= locals.usuario.nombre  %> </a>
                <a href="/products/cart"><i class="fas fa-shopping-cart"></i></a>
                <a href="/users/logout">Cerrar sesion</i></a>
                   
                        
                <% }else{ %>
               
                <a href="/users/login"><i class="fas fa-user"></i> Ingresar</a>
                <a href="/products/cart"><i class="fas fa-shopping-cart"></i></a>
                <% } %>
            </div>
            <div class="header-nav-links">
                <ul>
                    <li class="header-nav-link">
                        <a href="#" class="header-dropdown-content">Figuras de acción<i
                                class="fas fa-caret-down"></i></a>
                        <div class="dropdown hidden">
                            <ul>
                                <li class="dropdown-link">
                                    <a href="#" class="header-dropdown-content">Marcas<i
                                            class="fas fa-caret-down"></i></a>
                                    <div class="dropdown header-dropdown-secondary hidden">
                                        <ul>
                                            <li class="dropdown-link">
                                                <a href="#">Disney</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Mattel</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Playmates</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Hasbro</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Lego</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Marvel</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dropdown-link">
                                    <a href="#" class="header-dropdown-content">Edades<i
                                            class="fas fa-caret-down"></i></a>
                                    <div class="dropdown header-dropdown-secondary hidden">
                                        <ul>
                                            <li class="dropdown-link">
                                                <a href="#">De 0 a 24 meses</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">De 2 a 4 años</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">De 5 a 7 años</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">De 8 a 13 años</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">De 14 años y Mayores</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dropdown-link">
                                    <a href="#">Ver todo</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header-nav-link">
                        <a href="#" class="header-dropdown-content">Vehículos<i class="fas fa-caret-down"></i></a>
                        <div class="dropdown hidden">
                            <ul>
                                <li class="dropdown-link">
                                    <a href="#" class="header-dropdown-content">Marcas<i
                                            class="fas fa-caret-down"></i></a>
                                    <div class="dropdown header-dropdown-secondary hidden">
                                        <ul>
                                            <li class="dropdown-link">
                                                <a href="#">Disney</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Mattel</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Playmates</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Hasbro</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Lego</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Marvel</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dropdown-link">
                                    <a href="#" class="header-dropdown-content">Edades<i
                                            class="fas fa-caret-down"></i></a>
                                    <div class="dropdown header-dropdown-secondary hidden">
                                        <ul>
                                            <li class="dropdown-link">
                                                <a href="#">De 0 a 24 meses</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">De 2 a 4 años</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">De 5 a 7 años</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">De 8 a 13 años</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">De 14 años y Mayores</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dropdown-link">
                                    <a href="#">Ver todo</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header-nav-link">
                        <a href="#" class="header-dropdown-content">Disfraces<i class="fas fa-caret-down"></i></a>
                        <div class="dropdown hidden">
                            <ul>
                                <li class="dropdown-link">
                                    <a href="#" class="header-dropdown-content">Marcas<i
                                            class="fas fa-caret-down"></i></a>
                                    <div class="dropdown header-dropdown-secondary hidden">
                                        <ul>
                                            <li class="dropdown-link">
                                                <a href="#">Disney</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Mattel</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Playmates</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Hasbro</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Lego</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Marvel</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dropdown-link">
                                    <a href="#" class="header-dropdown-content">Edades<i
                                            class="fas fa-caret-down"></i></a>
                                    <div class="dropdown header-dropdown-secondary hidden">
                                        <ul>
                                            <li class="dropdown-link">
                                                <a href="#">De 0 a 24 meses</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">De 2 a 4 años</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">De 5 a 7 años</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">De 8 a 13 años</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">De 14 años y Mayores</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dropdown-link">
                                    <a href="#">Ver todo</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header-nav-link">
                        <a href="#" class="header-dropdown-content">Juegos de mesa<i class="fas fa-caret-down"></i></a>
                        <div class="dropdown hidden">
                            <ul>
                                <li class="dropdown-link">
                                    <a href="#" class="header-dropdown-content">Marcas<i
                                            class="fas fa-caret-down"></i></a>
                                    <div class="dropdown header-dropdown-secondary hidden">
                                        <ul>
                                            <li class="dropdown-link">
                                                <a href="#">Disney</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Mattel</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Playmates</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Hasbro</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Lego</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Marvel</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dropdown-link">
                                    <a href="#" class="header-dropdown-content">Edades<i
                                            class="fas fa-caret-down"></i></a>
                                    <div class="dropdown header-dropdown-secondary hidden">
                                        <ul>
                                            <li class="dropdown-link">
                                                <a href="#">De 0 a 24 meses</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">De 2 a 4 años</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">De 5 a 7 años</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">De 8 a 13 años</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">De 14 años y Mayores</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dropdown-link">
                                    <a href="#">Ver todo</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header-nav-link">
                        <a href="/about">Quiénes somos</a>
                    </li>
                    <li class="header-nav-link">
                        <a href="/contacto">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="hamburger-menu-container">
            <div class="hamburger-menu">
                <div></div>
            </div>
        </div>
    </div>
</header>