<%- include('partials/head.ejs')%>

    <body class="about">
        <%- include('partials/header.ejs')%>
            <!--Botón ir hacia arriba-->
            <button type="button" class="btn btn-warning btn-floating btn-lg" id="btn-back-to-top"><i
                    class="fas fa-arrow-up"></i></button>

            <main>
                <div class="container  mt-5 bg-light shadow p-5 mb-5 bg-body rounded-3">
                    <h1>
                        ¿QUIÉNES SOMOS?
                   </h1>
                    <div class="row-sm mb-5 d-flex justify-content-evenly flex-wrap-reverse">
                        <div class="col-sm-6 align-self-center">
                            <p class="h4">
                                IOCUS(del protoitálico joko) nace como una necesidad de crear un espacio de juego y
                                entretenimiento donde lo importante sea la diversion.<br>
                                Con esto en mente 4 amigos se juntaron y pusieron en marcha esta loca idea de crear algo
                                diferente original y único.<br>
                                Así nace IOCUS donde lo mas importante sos vos y la diversión.

                            </p>
                        </div>
                        <div class="col-md-2 d-flex align-items-center justify-content-center p-5">
                        
                                <img class="img-fluid" src="/img/iocus.PNG" alt="">

                        </div>
                    </div>
                   
                    <div class="row d-flex align-items-center justify-content-center gy-5">
                        <h2 class="text-center mb-5">
                            GERENTES
                            </h2>
                        <div class="col-sm-4 text-center p-3 border bg-white m-3">
                                    <img src="/img/gerente.png" alt="">

                                    <h4>
                                        MARIA EUGENIA AMAYA
                                    </h4>
                                    <p>
                                        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac
                                        cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit
                                        amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                                    </p>

                        </div>
                        <div class="col-sm-4 text-center p-3 border bg-white m-3">
                                    <img src="/img/gerente.png" alt="">

                                    <h4>
                                        FERNANDO OJEDA
                                    </h4>
                                    <p>
                                        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac
                                        cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit
                                        amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                                    </p>
                        </div>
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="col-sm-4 text-center p-3 border bg-white m-3">
                                    <img src="/img/gerente.png" alt="">

                                    <h4>
                                        DAMIAN TRAJSTER
                                    </h4>
                                    <p>
                                        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac
                                        cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit
                                        amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                                    </p>
                        </div>
                        <div class="col-sm-4 text-center p-3 border bg-white m-3">
                                    <img src="/img/gerente.png" alt="">

                                    <h4>
                                        GABRIEL CARRIZO
                                    </h4>
                                    <p>
                                        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac
                                        cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit
                                        amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                                    </p>
                        </div>
                    </div>
                       
                    
                </div>



            </main>

            <!-- Footer -->
            <%- include('partials/footer.ejs')%>
                <!-- Footer -->

                <!-- MAIN SCRIPTS-->
                <%- include('partials/scripts.ejs')%>
    </body>

    </html>