<%- include('partials/head.ejs')%>

    <body class="about">
        <%- include('partials/header.ejs')%>
            <!--Botón ir hacia arriba-->
            <button type="button" class="btn btn-warning btn-floating btn-lg" id="btn-back-to-top"><i
                    class="fas fa-arrow-up"></i></button>

            <main>
                <div class="container  mt-5 bg-light shadow p-5 mb-5 bg-body rounded-3">
                    <h1>
                        ¿QUIÉNES SOMOS?
                   </h1>
                    <div class="row-sm mb-5 d-flex justify-content-evenly flex-wrap-reverse">
                        <div class="col-sm-6 align-self-center">
                            <p class="h3">
                                IOCUS(del protoitálico joko) nace como una necesidad de crear un espacio de juego y
                                entretenimiento donde lo importante sea la diversion.<br>
                                Con esto en mente 4 amigos se juntaron y pusieron en marcha esta loca idea de crear algo
                                diferente original y único.<br>
                                Así nace IOCUS donde lo mas importante sos vos y la diversión.

                            </p>
                        </div>
                        <div class="col-md-2 d-flex align-items-center justify-content-center p-5">
                        
                                <img class="img-fluid" src="/img/iocus.PNG" alt="">

                        </div>
                    </div>
                   
                    <section class="tarjetas">
                        <div class="tarjeta">
                            <img src="img/eugeManager.jpg" alt="">
                            <h2>Maria Eugenia Amaya</h2>
                            <p class="gerente" >Gerente Sucursal Cordoba</p>
                            <p class="descripcion" >Tengo 35 años, dos hijos, actualmente estudiante de programación web full stack en Formar. Con muchas ganas de aprender muchas cosas nuevas y poder llegar a ser una gran desarrolladora y crear cosas increibles e innovadoras. Amo leer estudiar y formarme constantemente en distintas areas.</p>
                        </div>
                        <div class="tarjeta">
                            <img src="img/ferManager.png" alt="">
                            <h2>Fernando Ojeda</h2>
                            <p class="gerente" >Gerente Sucursal Campana</p>
                            <p class="descripcion" > Tengo 32 años y estoy estudiando para ser un desarrollador web Full-Stack. En la programación encontré mi pasión y estoy decidido a seguir este camino hasta ser un profesional propiamente dicho. Suelo leer mucho, sobre todo libros o novelas visuales de horror o suspenso.</p>
                        </div>
                        <div class="tarjeta">
                            <img src="img/damiManager.jpg" alt="">
                            <h2>Damian Trajster</h2>
                            <p class="gerente"  >Gerente Sucursal Zona Norte </p>
                            <p class="descripcion"  >Tengo 35 años. Soy Programador y Coleccionista, Actualmente curso Desarrollador web Full-Stack en Formar/Digital House,quiero dar un giro a mi carrera profesional con este curso :) so let's Go!</p>
                        </div>

                        <div class="tarjeta">
                            <img src="img/gabyManager.jpg" alt="">
                            <h2>Gabriel Carrizo</h2>
                            <p class="gerente" >Gerente Sucursal Zona Sur </p>
                            <p class="descripcion" >Tengo 40 años, soy padre de 3 hermosos hijos ( Mariana 13, Mathias 12 y Thomas 10), me encanta jugar al futbol, cantar y hacer reir a todas las personas que se encuentren cerca. Decidi darle un giro a mi vida y hoy me encuentro realizando este curso de Programador Web Full Stack para poder desarrollarme profesionalmente.</p>
                        </div>
                    </section>


            </main>

            <!-- Footer -->
            <%- include('partials/footer.ejs')%>
                <!-- Footer -->

                <!-- MAIN SCRIPTS-->
                <%- include('partials/scripts.ejs')%>
    </body>

    </html>