<%- include('partials/head.ejs')%>

    <body class="about">
        <%- include('partials/header.ejs')%>
            <!--Botón ir hacia arriba-->
            <button type="button" class="btn btn-warning btn-floating btn-lg" id="btn-back-to-top"><i
                    class="fas fa-arrow-up"></i></button>

            <main>
                <div class="container  mt-5 bg-light shadow p-5 mb-5 bg-body rounded-3">
                    <h1>
                        ¿QUIÉNES SOMOS?
                   </h1>
                    <div class="row-sm mb-5 d-flex justify-content-evenly flex-wrap-reverse">
                        <div class="col-sm-6 align-self-center">
                            <p class="h3">
                                IOCUS(del protoitálico joko) nace como una necesidad de crear un espacio de juego y
                                entretenimiento donde lo importante sea la diversion.<br>
                                Con esto en mente 4 amigos se juntaron y pusieron en marcha esta loca idea de crear algo
                                diferente original y único.<br>
                                Así nace IOCUS donde lo mas importante sos vos y la diversión.

                            </p>
                        </div>
                        <div class="col-md-2 d-flex align-items-center justify-content-center p-5">
                        
                                <img class="img-fluid" src="/img/iocus.PNG" alt="">

                        </div>
                    </div>
                   
                    <div class="row d-flex align-items-center justify-content-center">
                        <h2 class="text-center mb-5">
                            GERENTES
                            </h2>
                        <div class="card col-sm-4 text-center p-3 border bg-white m-3">
                            <div class="card-img-top align-self-center"><img src="/img/eugeManager.jpg" alt=""></div>

                                    <div class="card-body">
                                        <h3>
                                            MARIA EUGENIA AMAYA
                                        </h3>
                                        <p class="card-text">
                                            Tengo 35 años, dos hijos, actualmente estudiante de programación web full stack en Formar. Con muchas ganas de aprender muchas cosas nuevas y poder llegar a ser una gran desarrolladora y crear cosas increibles e innovadoras. Amo leer estudiar y formarme constantemente en distintas areas.
                                        </p>
                                    </div>

                        </div>
                        <div class="card col-sm-4 text-center p-3 border bg-white m-3">
                                    <div class="card-img-top align-self-center"><img src="/img/ferManager.png" alt=""></div>

                                    <div class="card-body">
                                        <h3>
                                            FERNANDO OJEDA
                                        </h3>
                                        <p class="card-text">
                                            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac
                                            cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit
                                            amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                                        </p>
                                    </div>
                        </div>
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="col-sm-4 text-center p-3 border bg-white m-3">
                                    <img src="/img/damiManager.jpg" alt="">

                                    <h3>
                                        DAMIAN TRAJSTER
                                    </h3>
                                    <p>
                                        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac
                                        cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit
                                        amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                                    </p>
                        </div>
                        <div class="col-sm-4 text-center p-3 border bg-white m-3">
                                    <img src="/img/gabyManager.jpg" alt="">

                                    <h3>
                                        GABRIEL CARRIZO
                                    </h3>
                                    <p>
                                        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac
                                        cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit
                                        amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                                    </p>
                        </div>
                    </div>
                       
                    
                </div>



            </main>

            <!-- Footer -->
            <%- include('partials/footer.ejs')%>
                <!-- Footer -->

                <!-- MAIN SCRIPTS-->
                <%- include('partials/scripts.ejs')%>
    </body>

    </html>