<%- include('partials/head.ejs')%>

<body>
  <!-- HEADER -->
  <%- include('partials/header.ejs')%>
  <!--Botón ir hacia arriba-->
  <button type="button" class="btn btn-warning btn-floating btn-lg" id="btn-back-to-top"><i class="fas fa-arrow-up"></i></button>

<main>
    

</main>


<!-- Footer -->
<%- include('partials/footer.ejs')%>

<!--   SCRIPTS -->
 <%- include('partials/scripts.ejs')%>
</body>
</html>