<%- include('partials/head.ejs')%>

<body>
  <!-- HEADER -->
  <%- include('partials/header.ejs')%>
  <!--Botón ir hacia arriba-->
  <button type="button" class="btn btn-warning btn-floating btn-lg" id="btn-back-to-top"><i
      class="fas fa-arrow-up"></i></button>
      <main>
        <section class="container">
            <h1>CONOCE NUESTRAS TIENDAS</h1>
            <h2>PODES ENCONTRANOS EN ESTOS PUNTOS</h2>
           <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1aTV7MWHR-P5VP1DPG-ucIyxNoxv5v1Hl" width="100%" height="480" ></iframe>
           <div class="contenedorinfo">
             <h2>Información de contacto</h2>
            <h3><a href="https://goo.gl/maps/D2znjUpW8AhKkbkv6" style="color:black">Sucursal Cordoba</a> | Gerenta-Euge Amaya</h3>
            <h4>email: <a href="info@example.com" class="email">info@example.com</a> </h4>
            <h4>Tel: <a href="tel:011 555 5555" class="Tel">011 555 5555</a> </h4>
    
            <h3><a href="https://goo.gl/maps/Nck3DYF5phi5gaTX9" style="color:black"> Sucursal Campana</a> | Gerente-Fernando Ojeda</h3>
            <h4>email: <a href="info@example.com" class="email">info@example.com</a> </h4>
            <h4>Tel: <a href="tel:011 555 5555" class="Tel">011 555 5555</a> </h4>
    
            <h3><a href="https://goo.gl/maps/vb2B4xVRKJkgZwgR7" style="color:black">Sucursal Zona Norte</a> | Gerente-Damian Trajster </h3>
            <h4>email: <a href="info@example.com" class="email">info@example.com</a> </h4>
            <h4>Tel: <a href="tel:011 555 5555" class="Tel">011 555 5555</a> </h4>
    
            <h3><a href="https://goo.gl/maps/RYeLnqVVnJAeBt9u5" style="color:black">Sucursal Zona Sur</a> | Gerente-Gabriel Carrizo</h3>
            <h4>email: <a href="info@example.com" class="email">info@example.com</a> </h4>
            <h4>Tel: <a href="tel:011 555 5555" class="Tel">011 555 5555</a> </h4>
           </div>
            </section>
    </main>

  <!-- Footer -->
  <%- include('partials/footer.ejs')%>
  <!-- Footer -->
 
<!--   SCRIPTS -->
<%- include('partials/scripts.ejs')%>

</body>

</html>