<div style="padding: 20px; display: flex; flex-direction: column; justify-content: center;align-items: center; ">
    <h1>Te equivocaste wachin...!, no existe la vista....</h1>
    <img src="/img/ferManager.png" alt="">
    <h2 style="font-size:2rem ;"><%= error.status %></h2>
    <pre><%= error.stack %></pre>
    
</div>