<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IOCUS | Detalle de producto</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    
    
    <header>
      <div class="header-container">
        <input type="checkbox" name="" id="check">
        <div class="logo-container">
          <a href="/"><img class="img-fluid" src="/img/logo.png" alt="logo-img"></a>
        </div>
        <div class="nav-btn">
          <div class="search-input">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Buscar producto..." aria-label="Buscar producto..."
                aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </div>
          <div class="login-cart">
            <a href="/login"><i class="fas fa-user"></i> Ingresar</a>
            <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
          </div>
          <div class="header-nav-links">
            <ul>
              <li class="header-nav-link">
                <a href="#" class="header-dropdown-content">Figuras de acción<i class="fas fa-caret-down"></i></a>
                <div class="dropdown hidden">
                  <ul>
                    <li class="dropdown-link" >
                      <a href="#" class="header-dropdown-content">Marcas<i class="fas fa-caret-down"></i></a>
                      <div class="dropdown header-dropdown-secondary hidden">
                        <ul>
                          <li class="dropdown-link">
                            <a href="#">Disney</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="#">Mattel</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="#">Playmates</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="#">Hasbro</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="#">Lego</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="#">Marvel</a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="dropdown-link">
                      <a href="#" class="header-dropdown-content">Edades<i class="fas fa-caret-down"></i></a>
                      <div class="dropdown header-dropdown-secondary hidden">
                        <ul>
                          <li class="dropdown-link">
                            <a href="#">De 0 a 24 meses</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="#">De 2 a 4 años</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="#">De 5 a 7 años</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="#">De 8 a 13 años</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="#">De 14 años y Mayores</a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="dropdown-link">
                      <a href="#">Ver todo</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="header-nav-link">
                <a href="#" class="header-dropdown-content">Vehículos<i class="fas fa-caret-down"></i></a>
                <div class="dropdown hidden">
                  <ul>
                    <li class="dropdown-link">
                      <a href="#" class="header-dropdown-content">Marcas<i class="fas fa-caret-down"></i></a>
                      <div class="dropdown header-dropdown-secondary hidden">
                        <ul>
                          <li class="dropdown-link">
                            <a href="#">Disney</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="#">Mattel</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="#">Playmates</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="#">Hasbro</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="#">Lego</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="#">Marvel</a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="dropdown-link">
                      <a href="#" class="header-dropdown-content">Edades<i class="fas fa-caret-down"></i></a>
                      <div class="dropdown header-dropdown-secondary hidden">
                        <ul>
                          <li class="dropdown-link">
                            <a href="#">De 0 a 24 meses</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="#">De 2 a 4 años</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="#">De 5 a 7 años</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="#">De 8 a 13 años</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="#">De 14 años y Mayores</a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="dropdown-link">
                      <a href="#">Ver todo</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="header-nav-link">
                <a href="#" class="header-dropdown-content">Disfraces<i class="fas fa-caret-down"></i></a>
                <div class="dropdown hidden">
                  <ul>
                    <li class="dropdown-link">
                      <a href="#" class="header-dropdown-content">Marcas<i class="fas fa-caret-down"></i></a>
                      <div class="dropdown header-dropdown-secondary hidden">
                        <ul>
                          <li class="dropdown-link">
                            <a href="#">Disney</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="#">Mattel</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="#">Playmates</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="#">Hasbro</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="#">Lego</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="#">Marvel</a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="dropdown-link">
                      <a href="#" class="header-dropdown-content">Edades<i class="fas fa-caret-down"></i></a>
                      <div class="dropdown header-dropdown-secondary hidden">
                        <ul>
                          <li class="dropdown-link">
                            <a href="#">De 0 a 24 meses</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="#">De 2 a 4 años</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="#">De 5 a 7 años</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="#">De 8 a 13 años</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="#">De 14 años y Mayores</a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="dropdown-link">
                      <a href="#">Ver todo</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="header-nav-link">
                <a href="#" class="header-dropdown-content">Juegos de mesa<i class="fas fa-caret-down"></i></a>
                <div class="dropdown hidden">
                  <ul>
                    <li class="dropdown-link">
                      <a href="#" class="header-dropdown-content">Marcas<i class="fas fa-caret-down"></i></a>
                      <div class="dropdown header-dropdown-secondary hidden">
                        <ul>
                          <li class="dropdown-link">
                            <a href="#">Disney</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="#">Mattel</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="#">Playmates</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="#">Hasbro</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="#">Lego</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="#">Marvel</a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="dropdown-link">
                      <a href="#" class="header-dropdown-content">Edades<i class="fas fa-caret-down"></i></a>
                      <div class="dropdown header-dropdown-secondary hidden">
                        <ul>
                          <li class="dropdown-link">
                            <a href="#">De 0 a 24 meses</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="#">De 2 a 4 años</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="#">De 5 a 7 años</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="#">De 8 a 13 años</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="#">De 14 años y Mayores</a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="dropdown-link">
                      <a href="#">Ver todo</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="header-nav-link">
                <a href="#">Quiénes somos</a>
              </li>
              <li class="header-nav-link">
                <a href="#">Contacto</a>
              </li>
            </ul>
          </div>
        </div>
  
        <div class="hamburger-menu-container">
          <div class="hamburger-menu">
            <div></div>
          </div>
        </div>
      </div>
    </header>
    <!--Botón ir hacia arriba-->
    <button type="button" class="btn btn-warning btn-floating btn-lg" id="btn-back-to-top"><i class="fas fa-arrow-up"></i></button>
    <main>
      <div class="product-detail-main-container">
        <div class="container mt-5 mb-5">
          <div class="col-md-12">
         <p><a href="#">Categoria </a>> <a href="#">Figura de Acción </a>> <a href="#">Mayores de 9 años </a></p> 
          </div>
          <div class="card">
            <div class="row g-0">
              <!-- Carousel -->
              <div class="col-md-6 border-end">
                <div class="d-flex flex-column justify-content-center">
                  <div class="main_image">
                    <img
                      src="/img/detalle/principal.jpg"
                      id="main_product_image"
                      width="350"
                    />
                  </div>
                  <div class="thumbnail_images">
                    <ul id="thumbnail">
                      <li>
                        <img
                          onclick="changeImage(this)"
                          src="/img/detalle/principal.jpg"
                          width="70"
                        />
                      </li>
                      <li>
                        <img
                          onclick="changeImage(this)"
                          src="/img/detalle/1.jpg"
                          width="70"
                        />
                      </li>
                      <li>
                        <img
                          onclick="changeImage(this)"
                          src="/img/detalle/2.jpg"
                          width="70"
                        />
                      </li>
                      <li>
                        <img
                          onclick="changeImage(this)"
                          src="/img/detalle/3.jpg"
                          width="70"
                        />
                      </li>
                      <li>
                        <img
                          onclick="changeImage(this)"
                          src="/img/detalle/4.jpg"
                          width="70"
                        />
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="p-3 right-side">
                  <div class="d-flex justify-content-between align-items-center">
                    <h3 class="mb-5 display-4">Muñeco Anime Naruto Kakashi</h3>
                  </div>
                  <div class="mt-2 pr-3 content">
                    <p class="mb-5" id="info-productDetail">
                      Figura más detallada y articula de linea Naruto.<br />Con
                      una altura de 15cm y con más puntos de articulación y
                      manos adicionales, esta figura se puede colocar en cientos
                      de posiciones.
                    </p>
                  </div>
                  <h6 class="mb-5" id="product-details-info">-Personaje : Hatake Kakashi</h6>
                  <h6 class="mb-5" id="product-details-info">-Manos intercambiables</h6>
                  <h6 class="mb-5" id="product-details-info">-15 cm de altura</h6>
                  
                  <h6 class="me-5">*imagen meramente ilustrativa</h6>
                
                </div>
              </div>
              <div class="col-md-6 border-end">
                <div class="d-flex align-items-center flex-column align-self-center">
               <h2 class="product-detail-price display-2">$ 1.500</h2>
               <h6><em>*Precio comprando por la web</em></h6>
              </div>
               <h5 class="mt-5 ms-5 mb-5">SKU: MLU 8734</h5>
              </div>
              <div class="col-md-6 d-flex flex-column align-items-center ">
              <h5 class="mb-5">Stock Disponible</h5>
              <div class="def-number-input number-input safari_only w-100 d-flex flex-row mb-3 align-items-center justify-content-evenly">
                <div>
                <button id="shopping-cart-button" type="button" class="btn btn-primary btn-block waves-effect waves-light">Añadir al Carrito</button>
              </div>
              <div>
                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                  class="minus"><i class="fas fa-arrow-down"></i></button>
                <input class="quantity" min="0" name="quantity" value="1" type="number">
                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                  class="plus"><i class="fas fa-arrow-up"></i></button>
                </div>
              </div>
              <div class="d-flex flex-row align-items-center w-60 p-5 product-detail-info-delivery">
                <i class="fas fa-truck"></i>
                <p>Envio gratis a CABA y Gran Bs. As.</p>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted">

      <!-- Section: Links  start-->
      <section class="footer-container">
        <div class="container text-md-start mt-5">
          <!-- Grid row start-->
          <div class="row mt-3">
            <!-- Grid column start-->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h5 class="text-uppercase fw-bold mb-4 pt-3">
                Contacto
              </h5>
              <p><i class="fas fa-home me-3"></i> Calle Falsa, 123, ARG</p>
              <p><i class="fas fa-envelope me-3"></i>info@example.com</p>
              <p><i class="fas fa-phone me-3"></i> + 011 555 5555</p>
            </div>
            <!-- Grid column end-->
            <!-- Grid column start-->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h5 class="text-uppercase fw-bold mb-4 pt-3">
                Información
              </h5>
              <p>
                <a href="#!" class="text-reset">¿Quiénes somos?</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Productos</a>
              </p>
            </div>
            <!-- Grid column end-->
  
            <!-- Grid column start-->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h5 class="text-uppercase  fw-bold mb-4 pt-3">
                Cuenta
              </h5>
              <p>
                <a href="/login" class="text-reset">Mi cuenta</a>
              </p>
              <p>
                <a href="/productCart" class="text-reset">Carrito</a>
              </p>
              <p>
                <a href="/productCart" class="text-reset">Finalizar compra</a>
              </p>
            </div>
            <!-- Grid column end-->
  
            <!-- Grid column start-->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 social-media-icons">
              <!-- Links -->
              <h5 class="text-uppercase fw-bold mb-4 pt-3">
                Seguinos en
              </h5>
              <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="" class="me-4 text-reset">
                <i class="fab fa-youtube"></i>
              </a>
            </div>
            <!-- Grid column end-->
  
          </div>
          <!-- Grid row end-->
        </div>
      </section>
      <!-- Section: Links end -->
      <!-- Copyright -->
      <div class="text-center p-4 copyright-footer">
        <small>Iocus ~ Hecho con <i class="fas fa-heart text-danger"></i> por el Grupo 2 de la Comisión 6 2021.</small>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <script src="/js/dropdowns.js"></script>
    <script src="/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
  </body>
</html>
