<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>LAYOUT</title>
</head>
<body>
    <body >

   <!--    HEADER -->
        <header class="header" >
          <div class="nav__container container">
            <div class="nav__logo">
            <a href="index.html" >
              <img src="img/Logo.png" alt="logo">
            </a>
          </div>
            <!-- search DESKTOP -->
            <form class="formulario-full" action="">
              <input  class="formulario--search" type="text" placeholder="Buscar Producto..."><input class="formulario-button" type="submit" value="BUSCAR">
            </form>
    
            <!--  INICIO Y SHOP -->
          <div class="shop">
              <a href="#"><i class="fas fa-user"></i>iniciar</a>
              <span>|</span>
              <a href="#"><i class="fas fa-shopping-cart"></i></a>
          </div>
           
            <!-- search mobile -->
            <form class="formMobile">
              <a href="#"><i class="fas fa-search"></i></a>             
           </form>

           <!--  icono menu mobile HAMBURGUESA -->
           <button class="ham" type="button"><i class="fas fa-bars" ></i></button>
          </div>

     <!-- NAVEGACION -->
        <nav class="nav-2">
          <ul class="enlaces-menu">
            <li><a href="#">figuras de accion</a></li>
            <li><a href="#">vehiculos</a></li>
            <li><a href="#">disfraces</a></li>
            <li><a href="#">juegos de mesa</a></li>
            <li><a href="">quienes somos</a></li>
            <li><a href="#">contacto</a></li>
          </ul>
        </nav>
    </header>


<!-- MAIN -->

 <!--  FOOTER -->
        
<script src="/js/"></script>
</body>
</html>