<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css" />
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

  <title>Crea tu cuenta</title>
</head>

<body class="login">
  <!--Botón ir hacia arriba-->
  <button type="button" class="btn btn-warning btn-floating btn-lg" id="btn-back-to-top"><i class="fas fa-arrow-up"></i></button>
  <header class="header">
    <div class="nav__container container">
      <div class="nav__logo">
        <a href="/">
          <img src="img/Logo.png" alt="logo" />
        </a>
      </div>
      <!-- search DESKTOP -->
      <form class="formulario-full" action="">
        <input class="formulario--search" type="text" placeholder="Buscar Producto..." /><input
          class="formulario-button" type="submit" value="BUSCAR" />
      </form>

      <!--  INICIO Y SHOP -->
      <div class="shop">
        <a href="/login"><i class="fas fa-user"></i>  iniciar</a>
        <span>|</span>
        <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
      </div>

      <!-- search mobile -->
      <form class="formMobile">
        <a href="#"><i class="fas fa-search"></i></a>
      </form>

      <!--  icono menu mobile HAMBURGUESA -->
      <button class="ham" type="button"><i class="fas fa-bars"></i></button>
    </div>

    <!-- NAVEGACION -->
    <nav class="nav-2">
      <ul class="enlaces-menu">
        <li><a href="#">figuras de accion</a></li>
        <li><a href="#">vehiculos</a></li>
        <li><a href="#">disfraces</a></li>
        <li><a href="#">juegos de mesa</a></li>
        <li><a href="">quienes somos</a></li>
        <li><a href="#">contacto</a></li>
      </ul>
    </nav>
  </header>
  
  <main>
    <div class="main-container">
    <div class="main-form-login">
      <form action="login">
        <h3>Mi cuenta</h3>
        <h6>Si ya estas registrado, ingresa aquí.</h6>
        <label for="email">Email</label>
        <input class="controls" type="email" name="correo" id="correo" placeholder="">
        <label for="password">Contraseña</label>
        <input class="controls" type="password" name="contraseña" id="contraseña" placeholder="">
        <p><a href="#">¿Olvidaste tu contraseña?</a></p>
        <input class="main-form-register-button" type="submit" value="Ingresar">
      </form>
    </div>
    <div class="main-form-register">
      <form action="register">
        <h3>Registrate ahora</h3>
        <h6>Completa tu email y contraseña para registrarte.</h6>
        <label for="">Nombre</label>
        <input class="controls" type="text" name="nombre" id="nombre" placeholder="">
        <label for="">Apellido</label>
        <input class="controls" type="text" name="apellido" id="apellido" placeholder="">
        <label for="">Email</label>
        <input class="controls" type="email" name="correo" id="correo" placeholder="">
        <label for="">Contraseña</label>
        <input class="controls" type="password" name="contraseña" id="contraseña" placeholder="">
        <label for="">Repita contraseña</label>
        <input class="controls" type="password" id="contraseña" placeholder="">
        <p><input class="checkbox" type="checkbox"><a href="#">    Acepto los Terminos y Condiciones.</a></p>
        <input class="main-form-register-button" type="submit" value="Registrarse" />
      </form>
    </div>
    </div>
  </main>

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    
  <!-- Section: Links  start-->
  <section class="footer-container">
    <div class="container text-md-start mt-5">
      <!-- Grid row start-->
      <div class="row mt-3">
        <!-- Grid column start-->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h5 class="text-uppercase fw-bold mb-4">
            Contacto
          </h5>
          <p><i class="fas fa-home me-3"></i> Calle Falsa, 123, ARG</p>
          <p><i class="fas fa-envelope me-3"></i>info@example.com</p>
          <p><i class="fas fa-phone me-3"></i> + 011 555 5555</p>
        </div>
        <!-- Grid column end-->  
        <!-- Grid column start-->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h5 class="text-uppercase fw-bold mb-4">
            Información
          </h5>
          <p>
            <a href="#!" class="text-reset">¿Quiénes somos?</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Productos</a>
          </p>
        </div>
        <!-- Grid column end-->

        <!-- Grid column start-->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h5 class="text-uppercase  fw-bold mb-4">
            Cuenta
          </h5>
          <p>
            <a href="/login" class="text-reset">Mi cuenta</a>
          </p>
          <p>
            <a href="/productCart" class="text-reset">Carrito</a>
          </p>
          <p>
            <a href="/productCart" class="text-reset">Finalizar compra</a>
          </p>
        </div>
        <!-- Grid column end-->

        <!-- Grid column start-->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 social-media-icons">
          <!-- Links -->
          <h5 class="text-uppercase fw-bold mb-4">
            Seguinos en
          </h5>
          <a href="" class="me-4 text-reset">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-youtube"></i>
            </a>
        </div>
        <!-- Grid column end-->

      </div>
      <!-- Grid row end-->
    </div>
  </section>
  <!-- Section: Links end -->
  <!-- Copyright -->
  <div class="text-center p-4 copyright-footer">
    © 2021 Copyright: Grupo 2 IOCUS.
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

<!-- MAIN SCRIPTS-->
<script src="/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>