<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css" />
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

  <title>Crea tu cuenta</title>
</head>

<body class="login">
  <!--Botón ir hacia arriba-->
  <button type="button" class="btn btn-warning btn-floating btn-lg" id="btn-back-to-top"><i class="fas fa-arrow-up"></i></button>
  <header>
    <div class="header-container">
      <input type="checkbox" name="" id="check">
      <div class="logo-container">
        <a href="/"><img class="img-fluid" src="/img/logo.png" alt="logo-img"></a>
      </div>
      <div class="nav-btn">
        <div class="search-input">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar producto..." aria-label="Buscar producto..."
              aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </div>
        <div class="login-cart">
          <a href="/login"><i class="fas fa-user"></i> Ingresar</a>
          <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <div class="header-nav-links">
          <ul>
            <li class="header-nav-link">
              <a href="#" class="header-dropdown-content">Figuras de acción<i class="fas fa-caret-down"></i></a>
              <div class="dropdown hidden">
                <ul>
                  <li class="dropdown-link" >
                    <a href="#" class="header-dropdown-content">Marcas<i class="fas fa-caret-down"></i></a>
                    <div class="dropdown header-dropdown-secondary hidden">
                      <ul>
                        <li class="dropdown-link">
                          <a href="#">Disney</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Mattel</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Playmates</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Hasbro</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Lego</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Marvel</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="dropdown-link">
                    <a href="#" class="header-dropdown-content">Edades<i class="fas fa-caret-down"></i></a>
                    <div class="dropdown header-dropdown-secondary hidden">
                      <ul>
                        <li class="dropdown-link">
                          <a href="#">De 0 a 24 meses</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">De 2 a 4 años</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">De 5 a 7 años</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">De 8 a 13 años</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">De 14 años y Mayores</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="dropdown-link">
                    <a href="#">Ver todo</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="header-nav-link">
              <a href="#" class="header-dropdown-content">Vehículos<i class="fas fa-caret-down"></i></a>
              <div class="dropdown hidden">
                <ul>
                  <li class="dropdown-link">
                    <a href="#" class="header-dropdown-content">Marcas<i class="fas fa-caret-down"></i></a>
                    <div class="dropdown header-dropdown-secondary hidden">
                      <ul>
                        <li class="dropdown-link">
                          <a href="#">Disney</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Mattel</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Playmates</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Hasbro</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Lego</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Marvel</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="dropdown-link">
                    <a href="#" class="header-dropdown-content">Edades<i class="fas fa-caret-down"></i></a>
                    <div class="dropdown header-dropdown-secondary hidden">
                      <ul>
                        <li class="dropdown-link">
                          <a href="#">De 0 a 24 meses</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">De 2 a 4 años</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">De 5 a 7 años</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">De 8 a 13 años</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">De 14 años y Mayores</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="dropdown-link">
                    <a href="#">Ver todo</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="header-nav-link">
              <a href="#" class="header-dropdown-content">Disfraces<i class="fas fa-caret-down"></i></a>
              <div class="dropdown hidden">
                <ul>
                  <li class="dropdown-link">
                    <a href="#" class="header-dropdown-content">Marcas<i class="fas fa-caret-down"></i></a>
                    <div class="dropdown header-dropdown-secondary hidden">
                      <ul>
                        <li class="dropdown-link">
                          <a href="#">Disney</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Mattel</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Playmates</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Hasbro</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Lego</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Marvel</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="dropdown-link">
                    <a href="#" class="header-dropdown-content">Edades<i class="fas fa-caret-down"></i></a>
                    <div class="dropdown header-dropdown-secondary hidden">
                      <ul>
                        <li class="dropdown-link">
                          <a href="#">De 0 a 24 meses</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">De 2 a 4 años</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">De 5 a 7 años</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">De 8 a 13 años</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">De 14 años y Mayores</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="dropdown-link">
                    <a href="#">Ver todo</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="header-nav-link">
              <a href="#" class="header-dropdown-content">Juegos de mesa<i class="fas fa-caret-down"></i></a>
              <div class="dropdown hidden">
                <ul>
                  <li class="dropdown-link">
                    <a href="#" class="header-dropdown-content">Marcas<i class="fas fa-caret-down"></i></a>
                    <div class="dropdown header-dropdown-secondary hidden">
                      <ul>
                        <li class="dropdown-link">
                          <a href="#">Disney</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Mattel</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Playmates</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Hasbro</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Lego</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Marvel</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="dropdown-link">
                    <a href="#" class="header-dropdown-content">Edades<i class="fas fa-caret-down"></i></a>
                    <div class="dropdown header-dropdown-secondary hidden">
                      <ul>
                        <li class="dropdown-link">
                          <a href="#">De 0 a 24 meses</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">De 2 a 4 años</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">De 5 a 7 años</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">De 8 a 13 años</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">De 14 años y Mayores</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="dropdown-link">
                    <a href="#">Ver todo</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="header-nav-link">
              <a href="#">Quiénes somos</a>
            </li>
            <li class="header-nav-link">
              <a href="#">Contacto</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="hamburger-menu-container">
        <div class="hamburger-menu">
          <div></div>
        </div>
      </div>
    </div>
  </header>
  
  <main>
    <div class="main-container">
    <div class="main-form-login">
      <form action="login">
        <h3>Mi cuenta</h3>
        <h6>Si ya estas registrado, ingresa aquí.</h6>
        <label for="email">Email</label>
        <input class="controls" type="email" name="correo" id="correo" placeholder="">
        <label for="password">Contraseña</label>
        <input class="controls" type="password" name="contraseña" id="contraseña" placeholder="">
        <p><a href="#">¿Olvidaste tu contraseña?</a></p>
        <input class="main-form-register-button" type="submit" value="Ingresar">
      </form>
    </div>
    <div class="main-form-register">
      <form action="register">
        <h3>Registrate ahora</h3>
        <h6>Completa tu email y contraseña para registrarte.</h6>
        <label for="">Nombre</label>
        <input class="controls" type="text" name="nombre" id="nombre" placeholder="">
        <label for="">Apellido</label>
        <input class="controls" type="text" name="apellido" id="apellido" placeholder="">
        <label for="">Email</label>
        <input class="controls" type="email" name="correo" id="correo" placeholder="">
        <label for="">Contraseña</label>
        <input class="controls" type="password" name="contraseña" id="contraseña" placeholder="">
        <label for="">Repita contraseña</label>
        <input class="controls" type="password" id="contraseña" placeholder="">
        <p><input class="checkbox" type="checkbox"><a href="#">    Acepto los Terminos y Condiciones.</a></p>
        <input class="main-form-register-button" type="submit" value="Registrarse" />
      </form>
    </div>
    </div>
  </main>

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">

  <!-- Section: Links  start-->
  <section class="footer-container">
    <div class="container text-md-start mt-5">
      <!-- Grid row start-->
      <div class="row mt-3">
        <!-- Grid column start-->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h5 class="text-uppercase fw-bold mb-4 pt-3">
            Contacto
          </h5>
          <p><i class="fas fa-home me-3"></i> Calle Falsa, 123, ARG</p>
          <p><i class="fas fa-envelope me-3"></i>info@example.com</p>
          <p><i class="fas fa-phone me-3"></i> + 011 555 5555</p>
        </div>
        <!-- Grid column end-->
        <!-- Grid column start-->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h5 class="text-uppercase fw-bold mb-4 pt-3">
            Información
          </h5>
          <p>
            <a href="#!" class="text-reset">¿Quiénes somos?</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Productos</a>
          </p>
        </div>
        <!-- Grid column end-->

        <!-- Grid column start-->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h5 class="text-uppercase  fw-bold mb-4 pt-3">
            Cuenta
          </h5>
          <p>
            <a href="/login" class="text-reset">Mi cuenta</a>
          </p>
          <p>
            <a href="/productCart" class="text-reset">Carrito</a>
          </p>
          <p>
            <a href="/productCart" class="text-reset">Finalizar compra</a>
          </p>
        </div>
        <!-- Grid column end-->

        <!-- Grid column start-->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 social-media-icons">
          <!-- Links -->
          <h5 class="text-uppercase fw-bold mb-4 pt-3">
            Seguinos en
          </h5>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
        <!-- Grid column end-->

      </div>
      <!-- Grid row end-->
    </div>
  </section>
  <!-- Section: Links end -->
  <!-- Copyright -->
  <div class="text-center p-4 copyright-footer">
    <small>Iocus ~ Hecho con <i class="fas fa-heart text-danger"></i> por el Grupo 2 de la Comisión 6 2021.</small>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

<!-- MAIN SCRIPTS-->
<script src="/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>