<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <title>IOCUS|Carrito</title>
</head>
<body>
    <header>
        <h1>Header</h1>
    </header>

    <main>
        <h1>Main</h1>
    </main>

    <footer>
    <div class="footer-content">
        <div class="footer-wrap-left"><img class="footer-img" src="/img/img-footer.png" alt="image-left"></div>
        <div class="footer-wrap-middle">
            <div class="footer-column-contact footer-middle-grow1">
                <h3 class="footer-column-title">Contacto</h3>
                <ul class="footer-column-wrap">
                    <li><p><i class="fas fa-map-marker-alt"></i> Calle falsa 123</p></li>
                    <li><p><i class="fas fa-phone-alt"></i> (011)555-5555</p></li>
                    <li><p><i class="far fa-envelope"></i> example@email.com</p></li>
                </ul>
            </div> 
            
            <div class="footer-column-information footer-middle-grow1">
                <h3 class="footer-column-title">Información</h3>
                <ul class="footer-column-wrap">
                    <li><a href="">Quiénes somos</a></li>
                    <li><a href="">Productos</a></li>
                </ul>
            </div>

            <div class="footer-column-account footer-middle-grow1">
                <h3 class="footer-column-title">Cuenta</h3>
                <ul class="footer-column-wrap">
                    <li><a href="">Mi cuenta</a></li>
                    <li><a href="">Carrito</a></li>
                    <li><a href="">Finalizar compra</a></li>
                </ul>
            </div>

            <div class="footer-column-social footer-middle-grow1">
                <h3 class="footer-column-title">Seguinos en</h3>
                <ul class="footer-column-wrap">
                    <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-square footer-social-icon"></i></a></li>
                    <li><a href="https://www.instagram.com/"><i class="fab fa-instagram footer-social-icon"></i></a></li>
                    <li><a href="https://www.twitter.com/"><i class="fab fa-twitter-square footer-social-icon"></i></a></li>
                    <li><a href="https://www.youtube.com/"><i class="fab fa-youtube-square footer-social-icon"></i></a></li>
                </ul>
            </div>
            <div class="footer-copyright"><p>© 2021 Grupo 2 - IOCUS. Todos los derechos reservados.</p></div>
        </div>    
        <div class="footer-wrap-right"><img class="footer-img" src="/img/img-footer-right.png" alt="image-right"></div>
    </div>
    </footer>
</body>
</html>