<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IOCUS | Detalle de producto</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <!--Botón ir hacia arriba-->
    <button type="button" class="btn btn-warning btn-floating btn-lg" id="btn-back-to-top"><i class="fas fa-arrow-up"></i></button>

    <header class="header">
      <div class="nav__container container">
        <div class="nav__logo">
          <a href="/">
            <img src="img/Logo.png" alt="logo" />
          </a>
        </div>
        <!-- search DESKTOP -->
        <form class="formulario-full" action="">
          <input
            class="formulario--search"
            type="text"
            placeholder="Buscar Producto..."
          /><input class="formulario-button" type="submit" value="BUSCAR" />
        </form>

        <!--  INICIO Y SHOP -->
        <div class="shop">
          <a href="/login"><i class="fas fa-user"></i>iniciar</a>
          <span>|</span>
          <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
        </div>

        <!-- search mobile -->
        <form class="formMobile">
          <a href="#"><i class="fas fa-search"></i></a>
        </form>

        <!--  icono menu mobile HAMBURGUESA -->
        <button class="ham" type="button"><i class="fas fa-bars"></i></button>
      </div>

      <!-- NAVEGACION -->
      <nav class="nav-2">
        <ul class="enlaces-menu">
          <li><a href="#">figuras de accion</a></li>
          <li><a href="#">vehiculos</a></li>
          <li><a href="#">disfraces</a></li>
          <li><a href="#">juegos de mesa</a></li>
          <li><a href="">quienes somos</a></li>
          <li><a href="#">contacto</a></li>
        </ul>
      </nav>
    </header>
    
    <main>
      <div class="product-detail-main-container">
        <div class="container mt-5 mb-5">
          <div class="col-md-12">
         <p><a href="#">Categoria </a>> <a href="#">Figura de Acción </a>> <a href="#">Mayores de 9 años </a></p> 
          </div>
          <div class="card">
            <div class="row g-0">
              <!-- Carousel -->
              <div class="col-md-6 border-end">
                <div class="d-flex flex-column justify-content-center">
                  <div class="main_image">
                    <img
                      src="/img/detalle/principal.jpg"
                      id="main_product_image"
                      width="350"
                    />
                  </div>
                  <div class="thumbnail_images">
                    <ul id="thumbnail">
                      <li>
                        <img
                          onclick="changeImage(this)"
                          src="/img/detalle/principal.jpg"
                          width="70"
                        />
                      </li>
                      <li>
                        <img
                          onclick="changeImage(this)"
                          src="/img/detalle/1.jpg"
                          width="70"
                        />
                      </li>
                      <li>
                        <img
                          onclick="changeImage(this)"
                          src="/img/detalle/2.jpg"
                          width="70"
                        />
                      </li>
                      <li>
                        <img
                          onclick="changeImage(this)"
                          src="/img/detalle/3.jpg"
                          width="70"
                        />
                      </li>
                      <li>
                        <img
                          onclick="changeImage(this)"
                          src="/img/detalle/4.jpg"
                          width="70"
                        />
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="p-3 right-side">
                  <div class="d-flex justify-content-between align-items-center">
                    <h3 class="mb-5 display-4">Muñeco Anime Naruto Kakashi</h3>
                  </div>
                  <div class="mt-2 pr-3 content">
                    <p class="mb-5" id="info-productDetail">
                      Figura más detallada y articula de linea Naruto.<br />Con
                      una altura de 15cm y con más puntos de articulación y
                      manos adicionales, esta figura se puede colocar en cientos
                      de posiciones.
                    </p>
                  </div>
                  <h4 class="mb-5" id="info2-productDetail" >-Personaje : Hatake Kakashi</h4>
                  <h4 class="mb-5" id="info2-productDetail" >-Manos intercambiables</h4>
                  <h4 class="mb-5" id="info2-productDetail" >-15 cm de altura</h4>
                  
                  <h6 class="me-5">*imagen meramente ilustrativa</h6>
                
                </div>
              </div>
              <div class="col-md-6 border-end">
                <div class="d-flex align-items-center flex-column align-self-center">
               <h2 class="product-detail-price display-2">$ 1.500</h2>
               <h6><em>*Precio comprando por la web</em></h6>
              </div>
               <h5 class="mt-5 ms-5 mb-5">SKU: MLU 8734</h5>
              </div>
              <div class="col-md-6 d-flex flex-column align-items-center ">
              <h5 class="mb-5">Stock Disponible</h5>
              <div class="def-number-input number-input safari_only w-100 d-flex flex-row mb-3 align-items-center justify-content-evenly">
                <div>
                <button id="shopping-cart-button" type="button" class="btn btn-primary btn-block waves-effect waves-light">Añadir al Carrito</button>
              </div>
              <div>
                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                  class="minus"><i class="fas fa-arrow-down"></i></button>
                <input class="quantity" min="0" name="quantity" value="1" type="number">
                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                  class="plus"><i class="fas fa-arrow-up"></i></button>
                </div>
              </div>
              <div class="d-flex flex-row align-items-center w-60 p-5 product-detail-info-delivery">
                <i class="fas fa-truck"></i>
                <p>Envio gratis a CABA y Gran Bs. As.</p>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted">
      <!-- Section: Links  start-->
      <section class="footer-container">
        <div class="container text-md-start mt-5">
          <!-- Grid row start-->
          <div class="row mt-3">
            <!-- Grid column start-->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h5 class="text-uppercase fw-bold mb-4">Contacto</h5>
              <p><i class="fas fa-home me-3"></i> Calle Falsa, 123, ARG</p>
              <p><i class="fas fa-envelope me-3"></i>info@example.com</p>
              <p><i class="fas fa-phone me-3"></i> + 011 555 5555</p>
            </div>
            <!-- Grid column end-->
            <!-- Grid column start-->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h5 class="text-uppercase fw-bold mb-4">Información</h5>
              <p>
                <a href="#!" class="text-reset">¿Quiénes somos?</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Productos</a>
              </p>
            </div>
            <!-- Grid column end-->

            <!-- Grid column start-->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h5 class="text-uppercase fw-bold mb-4">Cuenta</h5>
              <p>
                <a href="/login" class="text-reset">Mi cuenta</a>
              </p>
              <p>
                <a href="/productCart" class="text-reset">Carrito</a>
              </p>
              <p>
                <a href="/productCart" class="text-reset">Finalizar compra</a>
              </p>
            </div>
            <!-- Grid column end-->

            <!-- Grid column start-->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h5 class="text-uppercase fw-bold mb-4">Seguinos en</h5>
              <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="" class="me-4 text-reset">
                <i class="fab fa-youtube"></i>
              </a>
            </div>
            <!-- Grid column end-->
          </div>
          <!-- Grid row end-->
        </div>
      </section>
      <!-- Section: Links end -->
      <!-- Copyright -->
      <div class="text-center p-4 copyright-footer">
        © 2021 Copyright: Grupo 2 IOCUS.
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <script src="/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
