<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <title>IOCUS|Carrito</title>
</head>
<body>
    <header>
        <h1>Header</h1>
    </header>

    <main>
        <h1>Main</h1>
    </main>

    <footer>
    <div class="footer-content">
           <div class="left column">
               <h3>Contacto</h3>
               <div class="content">
                <p><i class="fas fa-map-marker-alt"></i> Calle falsa 123</p>
                <p><i class="fas fa-phone-alt"></i> (011)555-5555</p>
                <p><i class="far fa-envelope"></i> example@email.com</p>
               </div>
           </div> 
        
        <div class="centerLeft column">
            <h3>Información</h3>
            <div class="content">
                <a href="">Quiénes somos</a>
                <a href="">Productos</a>
            </div>
        </div>

        <div class="centerRight column">
            <h3>Cuenta</h3>
            <div class="content">
                <a href="">Mi cuenta</a>
                <a href="">Carrito</a>
                <a href="">Finalizar compra</a>
            </div>
        </div>

        <div class="right column">
            <h3>Seguinos en</h3>
            <div class="social">
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.twitter.com/"><i class="fab fa-twitter-square"></i></a>
                <a href="https://www.youtube.com/"><i class="fab fa-youtube-square"></i></a>
            </div>
        </div>

    </div>    
    <span class="copyright">© 2021 Grupo 2 - IOCUS. Todos los derechos reservados.</span>
    </footer>
</body>
</html>