<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <title>IOCUS|Carrito</title>
</head>

<body>

  <header>
    <div class="header-container">
      <input type="checkbox" name="" id="check">
      <div class="logo-container">
        <a href="/"><img class="img-fluid" src="/img/logo.png" alt="logo-img"></a>
      </div>
      <div class="nav-btn">
        <div class="search-input">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar producto..." aria-label="Buscar producto..."
              aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </div>
        <div class="login-cart">
          <a href="/login"><i class="fas fa-user"></i> Ingresar</a>
          <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <div class="header-nav-links">
          <ul>
            <li class="header-nav-link">
              <a href="#" class="header-dropdown-content">Figuras de acción<i class="fas fa-caret-down"></i></a>
              <div class="dropdown hidden">
                <ul>
                  <li class="dropdown-link" >
                    <a href="#" class="header-dropdown-content">Marcas<i class="fas fa-caret-down"></i></a>
                    <div class="dropdown header-dropdown-secondary hidden">
                      <ul>
                        <li class="dropdown-link">
                          <a href="#">Disney</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Mattel</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Playmates</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Hasbro</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Lego</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Marvel</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="dropdown-link">
                    <a href="#" class="header-dropdown-content">Edades<i class="fas fa-caret-down"></i></a>
                    <div class="dropdown header-dropdown-secondary hidden">
                      <ul>
                        <li class="dropdown-link">
                          <a href="#">De 0 a 24 meses</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">De 2 a 4 años</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">De 5 a 7 años</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">De 8 a 13 años</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">De 14 años y Mayores</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="dropdown-link">
                    <a href="#">Ver todo</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="header-nav-link">
              <a href="#" class="header-dropdown-content">Vehículos<i class="fas fa-caret-down"></i></a>
              <div class="dropdown hidden">
                <ul>
                  <li class="dropdown-link">
                    <a href="#" class="header-dropdown-content">Marcas<i class="fas fa-caret-down"></i></a>
                    <div class="dropdown header-dropdown-secondary hidden">
                      <ul>
                        <li class="dropdown-link">
                          <a href="#">Disney</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Mattel</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Playmates</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Hasbro</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Lego</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Marvel</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="dropdown-link">
                    <a href="#" class="header-dropdown-content">Edades<i class="fas fa-caret-down"></i></a>
                    <div class="dropdown header-dropdown-secondary hidden">
                      <ul>
                        <li class="dropdown-link">
                          <a href="#">De 0 a 24 meses</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">De 2 a 4 años</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">De 5 a 7 años</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">De 8 a 13 años</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">De 14 años y Mayores</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="dropdown-link">
                    <a href="#">Ver todo</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="header-nav-link">
              <a href="#" class="header-dropdown-content">Disfraces<i class="fas fa-caret-down"></i></a>
              <div class="dropdown hidden">
                <ul>
                  <li class="dropdown-link">
                    <a href="#" class="header-dropdown-content">Marcas<i class="fas fa-caret-down"></i></a>
                    <div class="dropdown header-dropdown-secondary hidden">
                      <ul>
                        <li class="dropdown-link">
                          <a href="#">Disney</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Mattel</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Playmates</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Hasbro</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Lego</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Marvel</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="dropdown-link">
                    <a href="#" class="header-dropdown-content">Edades<i class="fas fa-caret-down"></i></a>
                    <div class="dropdown header-dropdown-secondary hidden">
                      <ul>
                        <li class="dropdown-link">
                          <a href="#">De 0 a 24 meses</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">De 2 a 4 años</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">De 5 a 7 años</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">De 8 a 13 años</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">De 14 años y Mayores</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="dropdown-link">
                    <a href="#">Ver todo</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="header-nav-link">
              <a href="#" class="header-dropdown-content">Juegos de mesa<i class="fas fa-caret-down"></i></a>
              <div class="dropdown hidden">
                <ul>
                  <li class="dropdown-link">
                    <a href="#" class="header-dropdown-content">Marcas<i class="fas fa-caret-down"></i></a>
                    <div class="dropdown header-dropdown-secondary hidden">
                      <ul>
                        <li class="dropdown-link">
                          <a href="#">Disney</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Mattel</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Playmates</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Hasbro</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Lego</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">Marvel</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="dropdown-link">
                    <a href="#" class="header-dropdown-content">Edades<i class="fas fa-caret-down"></i></a>
                    <div class="dropdown header-dropdown-secondary hidden">
                      <ul>
                        <li class="dropdown-link">
                          <a href="#">De 0 a 24 meses</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">De 2 a 4 años</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">De 5 a 7 años</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">De 8 a 13 años</a>
                        </li>
                        <li class="dropdown-link">
                          <a href="#">De 14 años y Mayores</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="dropdown-link">
                    <a href="#">Ver todo</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="header-nav-link">
              <a href="#">Quiénes somos</a>
            </li>
            <li class="header-nav-link">
              <a href="#">Contacto</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="hamburger-menu-container">
        <div class="hamburger-menu">
          <div></div>
        </div>
      </div>
    </div>
  </header>
  <!--Botón ir hacia arriba-->
  <button type="button" class="btn btn-warning btn-floating btn-lg" id="btn-back-to-top"><i
      class="fas fa-arrow-up"></i></button>
  <main class="product-cart-main">
    <div class="product-cart-main-container">
      <h2 id="order-summary">Resumen de pedido</h2>
      <!--Section: Block Content-->
      <section>
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-8">
            <!-- Card -->
            <div class="card wish-list mb-3">
              <div class="card-body">
                <div class="row mb-4">
                  <div class="col-md-5 col-lg-3 col-xl-3">
                    <div class="mb-3 mb-md-0">
                      <img class="img-fluid w-100" src="/img/productos/1.png" alt="Sample">
                    </div>
                  </div>
                  <div class="col-md-7 col-lg-9 col-xl-9">
                    <div>
                      <div class="d-flex justify-content-between">
                        <div>
                          <h5>Nombre producto</h5>
                          <p class="mb-3 text-muted text-uppercase small"><small>Detalle 1: Texto</small></p>
                          <p class="mb-2 text-muted text-uppercase small"><small>Detalle 2: Texto</small></p>
                          <p class="mb-3 text-muted text-uppercase small"><small>Detalle 3: Texto</small></p>
                        </div>
                        <div>
                          <div class="def-number-input number-input safari_only mb-0 w-100">
                            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                              class="minus"><i class="fas fa-arrow-down"></i></button>
                            <input class="quantity" min="0" name="quantity" value="1" type="number">
                            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                              class="plus"><i class="fas fa-arrow-up"></i></button>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                        <div>
                          <a href="#!" type="button" class="card-link-secondary small text-uppercase mr-3"><i
                              class="fas fa-trash-alt mr-1"></i> Quitar producto </a>
                        </div>
                        <p class="mb-0"><span><strong>$5000</strong></span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="mb-4">
                <div class="row mb-4">
                  <div class="col-md-5 col-lg-3 col-xl-3">
                    <div class="mb-3 mb-md-0">
                      <img class="img-fluid w-100" src="/img/productos/2.png" alt="Sample">
                    </div>
                  </div>
                  <div class="col-md-7 col-lg-9 col-xl-9">
                    <div>
                      <div class="d-flex justify-content-between">
                        <div>
                          <h5>Nombre producto</h5>
                          <p class="mb-3 text-muted text-uppercase small"><small>Detalle 1: Texto</small></p>
                          <p class="mb-2 text-muted text-uppercase small"><small>Detalle 2: Texto</small></p>
                          <p class="mb-3 text-muted text-uppercase small"><small>Detalle 3: Texto</small></p>
                        </div>
                        <div>
                          <div class="def-number-input number-input safari_only mb-0 w-100">
                            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                              class="minus"><i class="fas fa-arrow-down"></i></button>
                            <input class="quantity" min="0" name="quantity" value="1" type="number">
                            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                              class="plus"><i class="fas fa-arrow-up"></i></button>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                        <div>
                          <a href="#!" type="button" class="card-link-secondary small text-uppercase mr-3"><i
                              class="fas fa-trash-alt mr-1"></i> Quitar producto </a>
                        </div>
                        <p class="mb-0"><span><strong>$2500</strong></span></p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <!-- Card -->
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4">

            <!-- Card -->
            <div class="card mb-3">
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                    Subtotal
                    <span>$7500</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                    Descuento
                    <span>$0</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                    Costo envío
                    <span>Gratis</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                    <div>
                      <strong>
                        <p class="mb-0">Total</p>
                      </strong>
                    </div>
                    <span><strong>$7500</strong></span>
                  </li>
                </ul>
                <div class="d-flex flex-column">
                  <button id="shopping-cart-button" type="button"
                    class="btn btn-warning btn-block waves-effect waves-light">Finalizar compra</button>
                  <hr>
                  <button id="shopping-cart-button" type="button"
                    class="btn btn-primary btn-block waves-effect waves-light">Agregar más productos</button>
                </div>
              </div>
            </div>
            <!-- Card -->
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!--Section: Block Content-->
      <h2 id="login-before-purchase">Inicia sesión para completar tu pedido</h2>
      <div class="product-cart-login-container">
        <div class="container-fluid">
          <div class="row main-content text-center">
            <div class="col-md-4 text-center company__info">
              <span class="company__logo">
                <h2><img src="/img/logo.png" alt="logo"></h2>
              </span>
            </div>
            <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
              <div class="container-fluid">
                <div class="row">
                  <h2>Ingresar</h2>
                </div>
                <div class="row">
                  <form control="" class="form-group">
                    <div class="row">
                      <input type="email" name="email" id="email" class="form__input" placeholder="Email">
                    </div>
                    <div class="row">
                      <!-- <span class="fa fa-lock"></span> -->
                      <input type="password" name="password" id="password" class="form__input" placeholder="Contraseña">
                    </div>
                    <div class="row">
                      <input type="submit" value="Ingresar" class="btn btn-warning btn-block waves-effect waves-light">
                    </div>
                  </form>
                </div>
                <div class="row">
                  <p>¿No tienes una cuenta? <a href="/login">Crear cuenta</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>

  <!-- Footer -->
  <footer class="text-center text-lg-start bg-light text-muted">

    <!-- Section: Links  start-->
    <section class="footer-container">
      <div class="container text-md-start mt-5">
        <!-- Grid row start-->
        <div class="row mt-3">
          <!-- Grid column start-->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h5 class="text-uppercase fw-bold mb-4 pt-3">
              Contacto
            </h5>
            <p><i class="fas fa-home me-3"></i> Calle Falsa, 123, ARG</p>
            <p><i class="fas fa-envelope me-3"></i>info@example.com</p>
            <p><i class="fas fa-phone me-3"></i> + 011 555 5555</p>
          </div>
          <!-- Grid column end-->
          <!-- Grid column start-->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h5 class="text-uppercase fw-bold mb-4 pt-3">
              Información
            </h5>
            <p>
              <a href="#!" class="text-reset">¿Quiénes somos?</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Productos</a>
            </p>
          </div>
          <!-- Grid column end-->

          <!-- Grid column start-->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h5 class="text-uppercase  fw-bold mb-4 pt-3">
              Cuenta
            </h5>
            <p>
              <a href="/login" class="text-reset">Mi cuenta</a>
            </p>
            <p>
              <a href="/productCart" class="text-reset">Carrito</a>
            </p>
            <p>
              <a href="/productCart" class="text-reset">Finalizar compra</a>
            </p>
          </div>
          <!-- Grid column end-->

          <!-- Grid column start-->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 social-media-icons">
            <!-- Links -->
            <h5 class="text-uppercase fw-bold mb-4 pt-3">
              Seguinos en
            </h5>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-youtube"></i>
            </a>
          </div>
          <!-- Grid column end-->

        </div>
        <!-- Grid row end-->
      </div>
    </section>
    <!-- Section: Links end -->
    <!-- Copyright -->
    <div class="text-center p-4 copyright-footer">
      <small>Iocus ~ Hecho con <i class="fas fa-heart text-danger"></i> por el Grupo 2 de la Comisión 6 2021.</small>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

  <!-- MAIN SCRIPTS-->
  <script src="/js/dropdowns.js"></script>
  <script src="/js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>