<%- include('../partials/head.ejs')%>

    <body>
        <!-- HEADER -->
        <%- include('../partials/header.ejs')%>
            <!--Botón ir hacia arriba-->
            <button type="button" class="btn btn-warning btn-floating btn-lg" id="btn-back-to-top"><i
                    class="fas fa-arrow-up"></i></button>

                    <main class="products-editor-page">
                        <div class="container mt-5 p-5">
                          <form action="" class="">
                            <div class="row">
                              <h1 class="display-6">Modificar un producto</h1>
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="formInputProductSKU" placeholder="Ingrese el SKU del producto que desea modificar" maxlength="8">
                                </div>
                                  <div class="mb-3">
                                    <input type="text" class="form-control" id="formInputProductName" placeholder="Nombre del producto" maxlength="40">
                                  </div>
                                  <div class="col-md-10 mt-4">
                                    <div class="mt-5 mb-5">espacio reservado para la vista previa de todas las imágenes del producto</div>
                                    <label for="formFileMultiple" class="form-label">Seleccione varias imagenes para subir</label>
                                    <input class="form-control" type="file" id="formFileMultiple" multiple/>
                                  </div>
                                  <div class="mb-3 mt-5">
                                    <label class="bg-light w-100 border" for="formInputProductDescription">Descripción</label>
                                    <textarea rows="4"class="form-control" id="formInputProductDescription" aria-label="textarea" maxlength="249"></textarea>
                                  </div>
                            </div>
                            <div class="row mt-5">
                              <div class="col-sm-4 mb-3">
                                <div class="form-floating">
                                  <select class="form-select" id="floatingSelect" aria-label="Floating label select category">
                                    <option selected>Sin seleccionar</option>
                                    <option value="1">Figuras de acción</option>
                                    <option value="2">Vehículos</option>
                                    <option value="3">Disfraces</option>
                                    <option value="3">Juegos de mesa</option>
                                  </select>
                                  <label for="floatingSelect">Categoría</label>
                                </div>                                
                              </div>
                              <div class="col-sm-4 mb-3">
                                <div class="form-floating">
                                  <select class="form-select" id="floatingSelect2" aria-label="Floating label select brand">
                                    <option selected>Sin seleccionar</option>
                                    <option value="1">Disney</option>
                                    <option value="2">Mattel</option>
                                    <option value="3">Playmates</option>
                                    <option value="4">Hasbro</option>
                                    <option value="5">Lego</option>
                                    <option value="6">Marvel</option>
                                  </select>
                                  <label for="floatingSelect2">Marca</label>
                                </div>
                              </div>
                              <div class="col-sm-4 mb-3">
                                <div class="form-floating">
                                  <select class="form-select" id="floatingSelect3" aria-label="Floating label select age">
                                    <option selected>Sin seleccionar</option>
                                    <option value="1">0 a 24 meses</option>
                                    <option value="2">2 a 4 años</option>
                                    <option value="3">5 a 7 años</option>
                                    <option value="4">8 a 13 años</option>
                                    <option value="6">14 años y mayores</option>
                                  </select>
                                  <label for="floatingSelect3">Edades</label>
                                </div>                     
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-3 mb-3">
                                <label for="product-add-SKU-input" class="bg-light border border-secondary w-100 text-center">SKU</label>
                                <input class="w-100" type="text" name="product-add-SKU" id="product-add-SKU-input" maxlength="9">
                              </div>
                              <div class="col-sm-3 mb-3">
                                <label for="product-add-price-input" class="bg-light border border-secondary w-100 text-center">Precio</label>
                                <input class="w-100" type="text" name="product-add-price" id="product-add-price-input" maxlength="9">
                              </div>
                              <div class="col-sm-3 mb-3">
                                <label for="product-add-stock-input" class="bg-light border border-secondary w-100 text-center">Stock</label>
                                <input class="w-100" type="text" name="product-add-stock" id="product-add-stock-input" maxlength="9">
                              </div>
                              <div class="col-sm-3 mb-3">
                                <label for="product-add-discount-input" class="bg-light border border-secondary w-100 text-center">Descuento</label>
                                <input class="w-100" type="text" name="product-add-discount" id="product-add-discount-input" maxlength="2">
                              </div>
                            </div>
                            <div class="row mt-5 justify-content-evenly">
                              <button type="submit" class="btn-primary mb-3 col-sm-3">Modificar producto</button>
                              <button type="reset" class="btn-warning mb-3 col-sm-3">Vaciar campos</button>
                              <button type="reset" class="btn-danger mb-3 col-sm-3">Eliminar producto</button>
                            </div>
                          </form>
                        </div>
                    </main>

            <!-- Footer -->
            <%- include('../partials/footer.ejs')%>
                <!-- Footer -->

                <!--   SCRIPTS -->
                <%- include('../partials/scripts.ejs')%>

    </body>

    </html>